<%= form_with(model: visitor) do |form| %>
<% if visitor.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% visitor.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :name, class: label_class %>
          <%= form.text_field :name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :gender, class: label_class %>
          <%= form.text_field :gender, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :phonenumber, class: label_class %>
          <%= form.text_field :phonenumber, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :email, class: label_class %>
          <%= form.text_field :email, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :address, class: label_class %>
          <%= form.text_field :address, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if visitor.persisted? %>
<%= link_to "Cancel", visitor, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", visitors_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
