<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Visitor</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to visitors_path, class: button_class(theme: "transparent") do %>
      All Visitors
      <% end %>
      <%= link_to edit_visitor_path(@visitor), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @visitor.name %></p>
      </li>
      <li>
        <p class="font-semibold">Gender:</p>
        <p><%= @visitor.gender %></p>
      </li>
      <li>
        <p class="font-semibold">Phonenumber:</p>
        <p><%= @visitor.phonenumber %></p>
      </li>
      <li>
        <p class="font-semibold">Email:</p>
        <p><%= @visitor.email %></p>
      </li>
      <li>
        <p class="font-semibold">Address:</p>
        <p><%= @visitor.address %></p>
      </li>
  </ul>
</div>
