<div id="<%= dom_id animal %>">
  <p>
    <strong>Name:</strong>
    <%= animal.name %>
  </p>

  <p>
    <strong>Dateofbirth:</strong>
    <%= animal.dateofbirth %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= animal.age %>
  </p>

  <p>
    <strong>Characteristic:</strong>
    <%= animal.characteristic %>
  </p>

  <p>
    <strong>Food:</strong>
    <%= animal.food %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= animal.category_id %>
  </p>

</div>
