<%= form_with(model: animal) do |form| %>
<% if animal.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% animal.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :name, class: label_class %>
          <%= form.text_field :name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :dateofbirth, class: label_class %>
          <%= form.date_field :dateofbirth, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :age, class: label_class %>
          <%= form.number_field :age, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :characteristic, class: label_class %>
          <%= form.text_field :characteristic, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :food, class: label_class %>
          <%= form.text_field :food, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :category_id, class: label_class %>
          <%= form.text_field :category_id, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if animal.persisted? %>
<%= link_to "Cancel", animal, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", animals_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
